*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
        scroll-behavior: smooth;
}
body{
  background: #FFD0A5;
  font-family: 'Dancing Script', cursive;
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar:hover{
    border-radius: 100% 0% 100% 0% / 20% 80% 20% 80% ;
    transition: 1s;
}

.navbar {
  background-color: #FFF1ED;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 15px;
}

img.logo{
   height: 75px;
}
nav ul{
  flex-direction: row;
  display: flex;
  margin-right: 20px;
}

.navbar-links{
    color:#374B73;
    font-size: 17px;
    border-radius: 3px;
    padding: 7px 13px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}
.navbar-links:hover{
    background: #FFD0A5;
    transition: 1s;
    font-size: 20px;
    border-radius: 15px 50px;
}
.checkbtn{
    font-size: 30px;
    color: #374B73;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.first-section{
    margin-top: 60px;
}

.first-image-div{
width: 50%;
}

.first-image-div img{
width: 70%;
margin-left: 300px;
}


.first-section{
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}
.first-section-div h1{
    margin-bottom: 10px;
    margin-top: 30px;
}


.home-section{
  display: flex;
justify-content: space-between;
align-items: center;

}
.about-section h1{
    background-color: #FFF1ED;
    border-radius: 15px 50px;
    display: inline-block;
    padding: 10px;
    margin-left: 60px;
    text-transform: uppercase;
}
.about-section h3{
    padding: 5px;
    margin-left: 40px;
    line-height: 1.5;
}
.about-section h1:hover{
    font-size: 30px;
    transition: 1s;
}
.education-section{
    padding-top: 10px;
}
.education-section h1{
     background-color: #FFF1ED;
    border-radius: 15px 50px 30px; 
    display: inline-block;
    padding: 10px;
    margin-left: 60px;
    text-transform: uppercase;
}
.education-section h1:hover{
     font-size: 30px;
    transition: 1s;
}
.education-entry h3{
    padding-left: 90px;
}
.education-entry p{
    padding-left: 70px;
}
.education-section-div{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.education-entry{
    flex-grow: 1;
    flex-shrink: 1;
    flex-shrink: 150px;
}
.education-entry p{
    line-height: 1.5;
}
.education-section h3{
    background-color: #FFF1ED;
    border-radius: 15px 50px;
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
}

.education-section-div-2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.education-section-div-2 h2 {
    background-color: #FFF1ED;
    border-radius: 15px 50px;
    display: inline-block;
    padding: 7px;
    font-size: 24px;
    margin: 10px 0;
}

.education-section-div-2 ul {
    padding-left: 0;
    margin: 10px 0;
}

.education-section-div-2 li {
    padding-left: 0;
    margin-left: 20px;
    line-height: 1.5;
    font-size: 18px;
}

.skill{
    padding: 30px 1%;  
    display: flex;
    flex-direction: column;
}
.sub-title{
    background-color: #FFF1ED;
    border-radius: 15px 50px;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 60px;
}
.sub-title:hover{
     font-size: 30px;
    transition: 1s;
}
.skill .skill-cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 20px;
}
.skill .skill-cols .skill-item .skill-name-per{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill .skill-cols .skill-item .skill-name-per h2{
    /* font-weight: 700; */
    font-style: italic;
    font-size: 20px;
}
.skill .skill-cols .skill-item .skill-outer-bar{
    width: 100%;
    height: 8px;
    background-color:#FFD0A5;
    margin-top: 10px;
}
.skill .skill-cols .skill-item .skill-outer-bar .skill-inner-bar{
    background-color:  #FFF1ED;
    height: 10px;
}
/* Mobile View */
@media only screen and (max-width: 400px){
    #skill .skill-cols{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}
.newsletter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.newsletter-container {
    text-align: center;
}

.newsletter-container h2 {
    background-color: #FFF1ED;
    border-radius: 15px 50px;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px 0;
}
.newsletter-container h2:hover{
     font-size: 30px;
    transition: 1s;
}

.newsletter-container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.mc-field-group {
    padding: 0 20px;
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
}

.button {
    background-color: #FFF1ED;
    color: #374B73;
    padding: 5px 15px;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #374B73;
    color: #FFF1ED;
    transform: translateY(-5px);
}

.button:active {
    transform: translateY(0);
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}
.contact-section-container h2{
    background-color: #FFF1ED;
    border-radius: 15px 50px;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 250px;
}
.contact-section-container h2:hover{
     font-size: 30px;
    transition: 1s;
}
.contact-section-container p{
     font-size: 25px;
}
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 5px;
}
.contact-icons a{
    color: #374B73;
}
.contact-icons a:hover{
    font-size: 40px;
     background-color: #374B73;
    color: #FFD0A5;
    transition: 1s;
    transform: translateX(-7px);
    border-radius: 15px ;

}
.contact-icons a:active{
    transform: translateX(-1px);
}
/* Adjust styling as needed */
.footer-section {
  background-color: #FFF1ED;
  color: #374B73;
  padding: 10px;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 100% 0% 100% 0% / 0% 81% 19% 100% ;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.footer-logo img {
  height: 200px;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
 font-size: 30px;
}

.footer-navigation li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.footer-navigation a {
  color: #374B73;
  text-decoration: none;
  padding: 10px;
  margin-top: 100px;
}
.footer-navigation a:hover{
    font-size: 50px;
    background: #FFD0A5;
    transition: 1s;
    border-radius: 15px 50px;
}

.footer-social a {
  font-size: 24px;
  margin-right: 15px;
  color: #374B73;
}
.footer-social a:hover{
    font-size: 40px;
     background-color: #374B73;
    color: #FFD0A5;
    transition: 1s;
    transform: translateY(-7px);
    border-radius: 15px ;
}
.footer-social a:active{
    transform: translateY(-1px);
}
.footer-contact p {
  font-size: 20px;
  padding-bottom: 5px;
}
.footer-contact a{
    color: #374B73;
}
@media (max-width: 952px){
    img.logo{
        height: 50px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }

    .home-section{
      display: flex;
      flex-direction: column;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 1100vh;
        background: #FFF1ED;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
    background: #FFD0A5;
    transition: 0.5s;
    font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* Adjustments for Mobile Devices */
@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;
        position: fixed;
        background-color: #FFF1ED;
        width: 100%;
        left: -100%;
        top: 80px;
        transition: all 0.5s;
    }

    .navbar ul.show {
        left: 0;
    }

    .navbar-links {
        margin: 10px 0;
    }

    .checkbtn {
        display: block;
    }

    .home-section {
        flex-direction: column;
        align-items: center;
    }

    .first-image-div img {
        width: 90%;
        margin-left: 0;
    }

    .about-section h1,
    .education-section h1,
    .sub-title,
    .newsletter-container h2,
    .contact-section-container h2 {
        margin-left: 10px;
    }

    .education-entry p,
    .education-entry h3,
    .education-section-div-2 li,
    .contact-section-container p,
    .newsletter-container p,
    .footer-contact p {
        font-size: 18px;
        padding-left: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        height: 150px;
    }

    .footer-navigation ul {
        font-size: 20px;
    }
}
